* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  flex: 1; 
}

/*Permet de modifier le visuel des cartes*/
.nomCartePage2{
  text-decoration: none;
  padding: 10px;
  font-size: 0.9em;
  color: #ffffff;
  background-color: #000000;
  border-radius: 24px;   
  -moz-border-radius: 24px;
  border: 1px solid #ffffff;
  box-shadow: 3px 3px 8px #000000;
  }
/*Body*/
body {
  background-image: url(Preview/Back.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #acacac;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  min-height: 100vh; 

}
/*Formulaire d'inscription*/
form {
  width: 400px;  
  background-color: #d6ab88;
  padding: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 200px;
  border-radius: 20px;
}

/*Permet de modifier les form*/
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
/*Tout les section email dans les forms*/
input[type="text"], input[type="email"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #666565;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 14px;
}
/*Toute les sections mdp dans les forms*/
input[type="password"], input[type="mdp"], select{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 14px;

}

/*Modifie les bouton pour s'inscrire et envoyer demmande d'echange */
.btn {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
  &:hover{
    color: gray;
    transition: all 5;
  }
}

/*Modifie le header*/
header {
  width: 100%;
  height: 100px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
}


/*Modifie le footer*/
footer {
  width: 100%;
  height: auto;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  
}


.linktolink{
  text-decoration: none;
  color: #ffffff;
  &:hover {
    color: gray;
  }
}

/*Modifie l'espace entre les objet du footer*/
.footercontent{
  display: flex;
  justify-content: space-around;
}


/*Taille du logo dans le header*/
.logoh1{
  width: 200px;
  height: 100px;
}

/*Pack booster affichée sur la page index2*/
.ovrt{
  height: 500px;
  width: 600px;
  background-image: url(img/Booster.png);
  margin-top: 9%;
}

.commun{
  margin-right: 100%;
}


/*Bouton dans le Header*/

.hdr {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 100px;
  height: 70px;
  background-color: #333;
  color: #ffffff;
  text-decoration: none;
  margin: 50px;
  &:hover {
    background-color: gray;
    transition: all 0.5s;
  }
}
/*zone d'affichage de carte*/
#cartesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.carte {
  width: 125px;
  height: auto;
  margin: 50px;
  background-color: #000000;
}
/*Ce qui permet de limiter la zone d'affichage des cartes dans l'inventaire*/
.center{
  width: 70vw;
  background-color: #ffffff;
  }

/*bouton pour les echanges*/
.btnflott {
    display: none;
}
/*bouton pour les echanges*/
.btnecg {
  background-color: #d6ab88;
  border-radius: 80%;
  height: 5vw;
  width: auto;
  padding: 10px;
  align-self: flex-end; 
  margin-right: 10px; 
  border: 4px solid #ffffff;
  &:hover {
    background-color: gray;
    transition: all 0.5s;
  }
}

/*bouton pour ouvrir un pack*/
.btn5 {
  text-decoration: none;
  padding: 10px;
  font-size: 0.9em;
  color: #000000;
  background-color: #d6ab88;
  border-radius: 24px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  border: 4px solid #ffffff;
  box-shadow: 3px 3px 8px #444444;
  &:hover {
    background-color: gray;
    transition: all 0.5s;
  }
  }


/*image des cartes dans l'inventaire*/
.carte img {
    background-color: black;
    border: 5px solid #000000; 
    box-sizing: border-box; 
    border-radius: 5px;
      width: 100px;
      height: 150px;
      object-fit: cover;
}



/*bouton favoris*/
.favori-button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      background-color: gray;
      transition: all 0.5s;
    }

}

  .clicked{
    color: red;
  }

  /* Style pour Gryffindor */
.carte.gryffindor {
  border: 150px solid red;
}

/* Style pour Slytherin */
.carte.slytherin {
  border: 2px solid green;
}

/* Style pour Ravenclaw */
.carte.ravenclaw {
  border: 2px solid blue;
}

/* Style pour Hufflepuff */
.carte.hufflepuff {
  border: 2px solid yellow;
}



.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}